<footer class="footer">
  <small>
    作成者 RIKUTO SHIMIZU
  </small>
  <nav>
    <ul>
      <li><%= link_to "Fishing-SNSについて",   about_path   %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://fishingjapan.jp/">News(fishing japan)</a></li>
    </ul>
  </nav>
</footer>